.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other content */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 80%; /* Or any specific width */
  max-width: 500px; /* Optional, for wider screens */
}

.title {
  text-align: center;
}

.settings-header {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 4px;
}

.background-select {
  margin: auto;
}

.toggle-iconnames-div button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.toggle-iconnames-div button:hover {
  background-color: #d4d4d4;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}