.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it is above other content */
}

.modal-content-directions {
  border: 40px solid transparent;
  /* Adjust for the size of the border area in the image */
  border-image: url('/public/miscAssets/popupbg.png') 40 round;
  border-radius: 18px;
  position: relative;
  width: 80%;
  /* Or any specific width */
  max-width: 1000px;
  /* Optional, for wider screens */
  max-height: 80%;
  color: rgb(253, 250, 243);
  overflow: auto;
}

.modal-content-directions::-webkit-scrollbar {
  display: none;
}

.modal-content-fill img {
  max-width: 100%;
}

.directions1img {
  max-height: 40vh;
}

.directions2img {
  margin-top: 30px;
  max-height: 40vh;
}

.directionsyeararrows-div {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.directionsyeararrowsimg {
  max-height: 30vh;
}

.directionsyeararrows-div p {
  margin-left: 20px;
}

.directions-title {
  text-align: center;
}

.directions-text {
  margin: 0;
  margin-top: 7px;
  font-size: 22px;
  font-weight: bold;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .directions-text {
    font-size: 16px;
    font-weight: bold;
  }
}