.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;

  min-height: 100vh; /* Minimum height of the viewport height */
  width: 100%; /* Full width */
  background-repeat: no-repeat; /* No repeating of the background */
  background-position: center center; /* Centered in both dimensions */
  background-size: cover; /* Cover the entire area of the element */
  background-attachment: fixed; /* Fixed background (doesn't scroll with the page) */
  position: relative;

  overflow-x: hidden;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  background-size: cover;
}

.App::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.maingame-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 3%;
}

select {
  padding: 10px;
  margin: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}